.root {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400px;
    margin: 20px auto;
}

.input {
    margin-left: 10px;
    flex: 1;
}

.iconButton {
    padding: 10px;
}

.listContainer {
    width: 38%;
    margin: auto;
}
